@-webkit-keyframes bgZoom
  0%
    -webkit-filter blur(6px)
    filter blur(6px)
    -webkit-transform scale3d(1.3, 1.3, 1.3)
    -moz-transform scale3d(1.3, 1.3, 1.3)
    -ms-transform scale3d(1.3, 1.3, 1.3)
    transform scale3d(1.3, 1.3, 1.3)

100%
    -webkit-filter none
    filter none
    -webkit-transform none
    -moz-transform none
    -ms-transform none
    transform none
@-moz-keyframes bgZoom
  0%
    -webkit-filter blur(6px)
    filter blur(6px)
    -webkit-transform scale3d(1.3, 1.3, 1.3)
    -moz-transform scale3d(1.3, 1.3, 1.3)
    -ms-transform scale3d(1.3, 1.3, 1.3)
    transform scale3d(1.3, 1.3, 1.3)

  100%
    -webkit-filter none
    filter none
    -webkit-transform none
    -moz-transform none
    -ms-transform none
    transform none
@-o-keyframes bgZoom
  0%
    -webkit-filter blur(6px)
    filter blur(6px)
    -webkit-transform scale3d(1.3, 1.3, 1.3)
    -moz-transform scale3d(1.3, 1.3, 1.3)
    -ms-transform scale3d(1.3, 1.3, 1.3)
    transform scale3d(1.3, 1.3, 1.3)

  100%
    -webkit-filter none
    filter none
    -webkit-transform none
    -moz-transform none
    -ms-transform none
    transform none

@keyframes bgZoom
  0%
    -webkit-filter blur(6px)
    filter blur(6px)
    -webkit-transform scale3d(1.3, 1.3, 1.3)
    -moz-transform scale3d(1.3, 1.3, 1.3)
    -ms-transform scale3d(1.3, 1.3, 1.3)
    transform scale3d(1.3, 1.3, 1.3)

  100%
    -webkit-filter none
    filter none
    -webkit-transform none
    -moz-transform none
    -ms-transform none
    transform none
