#comment
  display none
  padding 20px
  background #fff
  background rgba(255,255,255,0.96)
  margin-bottom 50px
  .title
    font-weight normal
    margin-bottom 15px

#ds-thread
  #ds-reset
    .ds-powered-by
      a
        display:none
    .ds-textarea-wrapper
      background none!important
