#footer
  color color-meta
  margin-bottom 50px
  font 0.9em/1.6 font-title
  div
    background-color #fff
    background-color rgba(255,255,255,0.5)
    padding 0px 5px
    width 95px
    color #666
